@media (min-width: 701px) and (max-width: 959px) {
  body {
    font-size: 14px;
    line-height: 140%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 140%;
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
  header {
    float: left;
    width: 97.91666666666667%;
    margin-left: 1.041666666666667%;
    margin-right: 1.041666666666667%;
    padding-left: 0%;
    padding-right: 0%;
  }
  article {
    float: left;
    width: 64.58333333333334%;
    margin-left: 1.041666666666667%;
    margin-right: 1.041666666666667%;
    padding-left: 0%;
    padding-right: 0%;
  }
  aside {
    float: left;
    width: 31.25%;
    margin-left: 1.041666666666667%;
    margin-right: 1.041666666666667%;
    padding-left: 0%;
    padding-right: 0%;
  }
  footer {
    float: left;
    width: 97.91666666666667%;
    margin-left: 1.041666666666667%;
    margin-right: 1.041666666666667%;
    padding-left: 0%;
    padding-right: 0%;
  }
  .main-content {
    float: left;
    width: 64.58333333333334%;
    margin-left: 17.708333333333336%;
    margin-right: 1.041666666666667%;
    padding-left: 0%;
    padding-right: 0%;
  }
  .logo {
    min-width: 100%;
    float: none;
  }
  input.url,
  input.short-url {
    width: 100%;
    padding-right: 0;
  }
  input[type="submit"] {
    width: 40%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-left: 0;
  }
  .customise-button {
    margin-top: 7px;
    display: inline-block;
  }
}
