//
// Base CSS File - Standard Desktops & CSS Default ~960px
// --------------------------------------------------

// Grid Variables
// -------------------

@containerWidth: 960px;
@columnCount:    12;
@gutterRatio:    25%;
@paddingRatio:   100%;


// Type Variables
// -------------------

@fontSize: 15px;
@lineHeight: 140%;


// Base Styles
// -------------------

@import "_reset.less";

@import "_variables.less";
@import "_mixins.less";

@import "_layout.less";
@import "_type.less";
@import "_forms.less";
@import "_buttons.less";
@import "_menus.less";


// Custom Styles
// -------------------
body {
	background-color: #ebebeb;
}


.verticle-center {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */
	display: flex;
	align-items: center;
}

.main-content {
	background-color: white;
	border-radius: 5px;
}

img {
	float: left;
	padding-top: 0.45em;
    padding-right: 1em;
}

.head-text {
	display: inline;
}

.head-text-container {
	display: flex;
} 

.head {
	width: 26em;
    margin: auto;
    width: 100%;
    padding: 1em;
    width: 52%;
}

.url {
	background-color: #ebebeb;
}

.field-section {
	margin: auto;
    width: 80%;
}

input[type="text"] {
    padding-right: 50px;
    display: inline;
    vertical-align: top;
    width: 80%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    height: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
}

input[type="submit"] {
	background-color: #24b9de;
    margin-left: -50px;
    height: 3em;
    width: 81px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    width: 20%;
    -webkit-border-radius: 0px 6px 6px 0px;
    -moz-border-radius: 0px 6px 6px 0px;
    border-radius: 0px 6px 6px 0px;
	.transition(background-color 0.2s ease-in-out);
    &:hover {
    	background-color: darken(#24b9de, 10%);

    }
}