@media (min-width: 1200px) {
  body {
    font-size: 15px;
    line-height: 140%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 140%;
  }
  .container {
    width: 1140px;
    margin: 0 auto;
  }
  header {
    float: left;
    width: 1111.5px;
    margin-left: 14.25px;
    margin-right: 14.25px;
    padding-left: 0px;
    padding-right: 0px;
  }
  article {
    float: left;
    width: 731.5px;
    margin-left: 14.25px;
    margin-right: 14.25px;
    padding-left: 0px;
    padding-right: 0px;
  }
  aside {
    float: left;
    width: 351.5px;
    margin-left: 14.25px;
    margin-right: 14.25px;
    padding-left: 0px;
    padding-right: 0px;
  }
  footer {
    float: left;
    width: 1111.5px;
    margin-left: 14.25px;
    margin-right: 14.25px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .main-content {
    float: left;
    width: 731.5px;
    margin-left: 204.25px;
    margin-right: 14.25px;
    padding-left: 0px;
    padding-right: 0px;
  }
  input[type="submit"] {
    width: 20%;
  }
}
