@media (max-width: 700px) {
  body {
    font-size: 16px;
    line-height: 140%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 140%;
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
  header {
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0%;
    padding-right: 0%;
  }
  article {
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0%;
    padding-right: 0%;
  }
  aside {
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0%;
    padding-right: 0%;
  }
  footer {
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0%;
    padding-right: 0%;
  }
  .main-content {
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0%;
    padding-right: 0%;
  }
  .logo {
    min-width: 100%;
    padding-bottom: 1em;
  }
  .head {
    text-align: center;
    width: 75%;
    padding: 0.5em;
  }
  .head p {
    font-size: 0.9em;
    margin-bottom: 0;
  }
  form {
    text-align: center;
  }
  input.url,
  input.short-url {
    width: 100%;
    padding-right: 0;
    font-size: 0.9em;
  }
  input[type="submit"] {
    font-size: 0.9em;
  }
  input[type="submit"] {
    width: 100%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-left: 0;
  }
  .customise-container {
    font-size: 0.9em;
  }
  .customise-container input {
    font-weight: 500;
  }
  .footer {
    font-size: 14px;
    width: 100%;
  }
  .footer .footer-links {
    display: block;
  }
  .footer span {
    padding: 0 0.5em;
  }
}
@media (max-width: 340px) {
  .main-content {
    margin-top: 30%;
    margin-bottom: 30%;
  }
  input.url {
    font-size: 0.8em;
  }
  input[type="submit"] {
    font-size: 0.8em;
  }
}
